<div class="homepage">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/slider01.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/slider01.png" alt="Second slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="section2" id="about-us">
    <div class="container">
      <div class="row about">
        <div class="col-md-6 mt-5">
          <h2 class="home-header mobile-hide"> Baalon Ka Doctor</h2>
          <h2 class="home-header mobile-show"> Baalon Ka <br> Doctor</h2>
          <p class="home-txt">
            Dull, dry and damaged. It’s time to change the way you look at your hair. Repair and restore the
            shine your hair truly deserves with a range of our Ayurvedic products. Just the #BaalonKaDoctor
            you need in your life.
          </p>
          <div class="">
            <a class="home-link" routerLink="about-us"> Learn More <span> > </span></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="section3" id="products">
    <div class="container">
      <div class="row product">
        <div class="col-md-7">
          <h2 class="home-header"> Explore Our Products </h2>
          <p class="home-txt">
            For hair care that is just right
          </p>
        </div>
        <div class="col-md-12"> </div>
        <div class="col-md-4 mobile-margin-remove" routerLink="products/oil">
          <div class="red-square">
            <img src="assets/images/prod02.png">
            <div class="square-txt">
              Sesa Ayurvedic Hair Oil
            </div>
            <div class="square-greater"> > </div>
          </div>
        </div>

        <div class="col-md-4" routerLink="products/shampoo">
          <div class="green-square">
            <img src="assets/images/prod01.png">
            <div class="square-txt">
              Sesa Ayurvedic Shampoo
            </div>
            <div class="square-greater"> > </div>
          </div>
          <div class="brown-square">
            <div class="square-txt sq-pad-top">
              Sesa Ayurvedic+ Hair Spa
            </div>
            <div class="square-greater">
              >
            </div>
            <img src="assets/images/prod03.png">
          </div>
        </div>

        <div class="col-md-4">
          <div class="yellow-square">
            <img class="yellow-img-up mobile-hide" src="assets/images/prod04.png">
            <div class="square-txt" style="margin-top: 30px;">
              Sesa+ Ayurvedic Strong Roots
            </div>
            <div class="square-greater"> > </div>
            <img class="yellow-img-down" src="assets/images/prod05.png">
          </div>
        </div>
        <!-- <div class="col-md-12 text-center">
          <a class="view-all"> View All</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="section4" id="follow-us">
    <div class="container">
      <div class="row follow-us">
        <div class="col-md-6">
          <h2 class="home-header"> Follow Us </h2>
          <p class="home-txt">
            Stay up-to-date with our new launches and hair care tips
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row follow-us">
          <div class="col-md-3">
            <div class="follow-card">
              <img class="follow-img"
                src="https://instagram.fbom2-1.fna.fbcdn.net/v/t51.2885-15/e35/77377552_517281182193134_2568926214324026896_n.jpg?_nc_ht=instagram.fbom2-1.fna.fbcdn.net&amp;
                  _nc_cat=102&amp;oh=a9544c5cafbbba44029cca0232010665&amp;oe=5E7A28CA">
              <p class="follow-txt">
                <a href="https://www.facebook.com/pg/SesaHairCare/posts/?ref=page_internal" target="_blank">
                  When it comes to providing quality hair care, we trust the ancient wisdom of Ayurveda to tackle all kinds of hair problems.
                  To know more click the link in bio.
                </a>
              </p>
              <div class="follow-tags">
                <a href="https://www.facebook.com/pg/SesaHairCare/posts/?ref=page_internal" target="_blank">
                  sesacare
                </a>
              </div>
              <div class="follow-link">
                <span class="">
                  <i class="fab fa-facebook-f"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="follow-card">
              <img class="follow-img"
                src="https://instagram.fbom2-1.fna.fbcdn.net/v/t51.2885-15/e35/77377552_517281182193134_2568926214324026896_n.jpg?_nc_ht=instagram.fbom2-1.fna.fbcdn.net&amp;
                  _nc_cat=102&amp;oh=a9544c5cafbbba44029cca0232010665&amp;oe=5E7A28CA">
              <p class="follow-txt">
                <a href="https://twitter.com/CareSesa" target="_blank">
                  We are excited to announce that we are now on Twitter.
                  <br/>
                  <br/>
                  #SesaCare #AyurvedicOil #AyurvedicMedicinalShampoo
                </a>
              </p>
              <div class="follow-tags">
                <a href="https://twitter.com/CareSesa" target="_blank">
                  sesacare
                </a>
              </div>
              <div class="follow-link">
                <span class="">
                  <i class="fab fa-twitter"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3" attr.href="https://www.instagram.com/p/B5uhhhgABQP/?utm_source=ig_embed&amp;utm_campaign=loading"
            target="_blank">
            <div class="follow-card">
              <img class="follow-img" src="https://instagram.fbom2-1.fna.fbcdn.net/v/t51.2885-15/e35/77377552_517281182193134_2568926214324026896_n.jpg?_nc_ht=instagram.fbom2-1.fna.fbcdn.net&amp;_nc_cat=102&amp;oh=a9544c5cafbbba44029cca0232010665&amp;oe=5E7A28CA">
              <div class="follow-txt">
                <a href="https://www.instagram.com/p/B5uhhhgABQP/?utm_source=ig_embed&amp;utm_campaign=loading" target="_blank">
                  When it comes to providing quality hair care, we trust the ancient wisdom of Ayurveda to tackle all kinds of hair problems.
                  To know more click the link in bio.
                </a>
              </div>
              <div class="follow-tags">
                <a href="https://www.instagram.com/p/B5uhhhgABQP/?utm_source=ig_embed&amp;utm_campaign=loading"
                  target="_blank"> sesacare </a>
              </div>
              <div class="follow-link">
                <span class="">
                  <i class="fab fa-instagram"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="follow-card">
              <img class="follow-img"
                src="https://instagram.fbom2-1.fna.fbcdn.net/v/t51.2885-15/e35/77377552_517281182193134_2568926214324026896_n.jpg?_nc_ht=instagram.fbom2-1.fna.fbcdn.net&amp;
                  _nc_cat=102&amp;oh=a9544c5cafbbba44029cca0232010665&amp;oe=5E7A28CA">
              <p class="follow-txt">
                When it comes to providing quality hair care, we trust the ancient wisdom of Ayurveda to tackle all kinds of hair problems.
                To know more click the link in bio.
              </p>
              <div class="follow-tags">
                <a href="https://www.youtube.com/user/Sesacare" target="_blank">
                  sesacare
                </a>
              </div>
              <div class="follow-link">
                <span class="">
                  <i class="fab fa-youtube"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
