<!-- <div>
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
      width="600" height="200" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div> -->

<div id="contact-us" class="mt-5">
  <div class="container">
    <div class="row about">
      <div class="col-md-6">
        <h2 class="home-header"> Registered Address</h2>
        <p class="home-txt">
          SESA Care Private Limited Company Rocklines House, Ground Floor 9/2, Museum Road, Bangalore KA 560001 IN
        </p>
        <p class="home-txt">
          Email: <a routerLink="contact-us" href="#">care@sesa.com</a>
        </p>
        <p class="home-txt">
          Contact No.: 9998968777
        </p>
        <img class="follow-img" src="assets/images/contactUs-Sesa.png">
      </div>

      <div class="offset-md-1 col-md-5">
        <h2 class="home-header"> Get in touch</h2>
        <p class="home-txt">
          <input placeholder="Name" type="text" name="name" autofocus />
        </p>
        <p class="home-txt">
          <input placeholder="Email" type="text" name="email" autofocus />
        </p>
        <p class="home-txt">
          <input placeholder="Contact No." type="text" name="contactNo" autofocus />
        </p>
        <div class="col-md-12 text-center">
          <a class="view-all" href="#"> SUBMIT</a>
        </div>
      </div>
    </div>
  </div>
</div>
