<div class="section-about-us" id="about-us">
  <div class="banner">
    <img class="mobile-hide" src="assets/images/about-us-banner.png">
    <img class="mobile-show" src="assets/images/about-us-banner-mob.png">
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8" style="position: relative;">
            <h2 class="home-header abt-margin mobile-hide"> About the brand</h2>
            <h2 class="home-header abt-margin mobile-show" style="margin-top:165px;"> About the brand</h2>
            <p class="home-txt">
              Sesa Care is a leading Indian manufacturer and exporter of Ayurvedic Hair Care products. 
              Sesa combines the ancient knowledge of 5000-year-old Ayurveda with modern best-in-class 
              manufacturing practices to deliver high quality Ayurvedic Hair Care products. Sesa have been 
              in the market since 1996, gathering more than 20 years of expertise in understanding the 
              consumers’ requirements.
            </p>
            <div class="">
              <a class="home-link" href="http://www.sesacare.com/"> Corporate Website  <span> > </span></a>
            </div>
            <div class="abt-us-ico">
              <img src="assets/images/about-us-icon.png" >
            </div>
          </div>
          <div class="col-md-4 mobile-margin-top-lady">
            <img src="assets/images/about-us-lady.png" class="lady-image">
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row prod-down">
          <div class="col-md-12">
            <img src="assets/images/about-us-products.png" class="about-us-products">
          </div>
        </div>
        <div class="row prod-up">
          <div class="col-md-12">
            <h2 class="home-header"> About products</h2>
            <p class="home-txt text-justify">
              Our compelling product offering includes Sesa Ayurvedic Hair Oil and Sesa Ayurvedic Shampoo. 
              Sesa Ayurvedic Hair Oil is a 100% ayurvedic hair oil created to provide you with healthier 
              and shinier hair. Sesa Ayurvedic Shampoo is created using 17 herbal botanicals which helps in 
              reducing hair fall in 15 days. We relentlessly aim to provide top-notch quality to the consumer 
              and that is what has helped us become one of India’s best-selling hair care brands.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
