img {
  width: 100%;
}

.container {
  min-width: 1350px;
  max-width: 1350px;
}

.lady-image {
  width: 90%;
  height: 480px;
}

.about-us-products {
  width: 70%;
  height: 200px;
}
.abt-us-ico {
  text-align: center;
}
.abt-us-ico img{
  width: 200px;
}

@media (max-width: 576px) {

  .abt-us-ico {
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - 100px); 
}
.prod-down{

}
.prod-up{

}

}

@media only screen and (max-width: 768px) {
  .lady-image {
    margin-left: 14%;
    width: 72%;
    margin-bottom: 50px;
  }

  .about-us-products {
    width: 100%;
    height: 100%;
  }

  .mobile-margin-top-lady {
    margin-top: 30px;
  }

  .container {
    min-width: 100%;
    max-width: 100%;
  }

}
